body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #17182f;
  background-position: 50% 0%;
  background-size: 150vmax 150vmax;
  background-repeat: no-repeat;

}

canvas {
  display:block;
}


#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

.flex-title{
  padding: 0.5%;
  width: 100%;
  height: 50%;
  margin-top: 3%;
  line-height: 200%;
  color: white;
  font-size: 250%;
  text-align: center;
  animation: type 4s steps(60, end); 
  overflow: hidden;
  font-family: "Courier";
  white-space: nowrap;
}

#titulo:nth-child(2){
  animation: type2 8s steps(60, end);
}

.blinking{
  animation: blink 1s infinite;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

.flex-container {
  padding: 0%;
  margin: 0%;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
}

.flex-item {
  background: rgb(18, 21, 66);
  padding: 0.5%;
  width: 15%;
  height: 15%;
  margin-top: 3%;
  line-height: 20%;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}
.flex-text {

  padding: 0.5%;
  width: 30%;
  height: 10%;
  margin-top: 10%;
  line-height: 20%;
  color: white;
  font-weight: bold;
  font-size: 160%;
  text-align: center;
  
}

#bunny{
  width: 14%;
  height: 14%;
}

.botao{
  color: white;
  border: 1px solid white;
  display: table;
  position: absolute;
  margin-top: 5%;
  top: 85%;
  left: 50%;
  letter-spacing: 0.05em;
  transform: translate3d(-50%, -50%, 0);
  font-size: 200%;
  text-decoration: none;
  transition: all 200ms ease;
  padding: 0.7% 0.9%;
}

.botao:hover {
  background: white;
  color: black;
}